<!-- <main> -->
    <!-- <div class="plugin-page-container" id="top">
        <div class="header-content">
            <div class="content pep-border-bottom">
                <div class="left-container pep-spacing-element-negative pull-left flip">
                    <div class="pep-spacing-element title">
                        {{ 'Health_Monitor_Settings_Title' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="content">
                <div class="left-container body-sm pep-spacing-element-negative pull-left flip" style="display: contents;">
                    <div class="pep-spacing-element">
                        {{ 'Health_Monitor_Settings_Description' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="plugin-page-container" id="list">
        <div class="header-content">
            <div class="content pep-border-bottom">
                <div class="left-container pep-spacing-element-negative pull-left flip">
                    <div class="pull-left flip ng-tns-c36-49 ng-star-inserted">
                        <div class="list-actions ng-tns-c36-49 pep-spacing-element ng-star-inserted">
                            <button mat-icon-button [matMenuTriggerFor]="menu" #editBtn mat-button class="pep-button icon-button md strong" pepMenuBlur>
                                <mat-icon>
                                    <pep-icon name="system_edit"></pep-icon>
                                </mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" >
                                <ng-container *ngFor="let action of menuActions">
                                    <button mat-menu-item [disabled]="disableActions" (click)="onMenuItemClicked(action)">{{ action.value }}</button>
                                </ng-container>
                            </mat-menu>
                            
                        </div>
                    </div>
                    <div class="pep-spacing-element title">
                        {{ 'Health_Monitor_Settings_Alerts' | translate }}
                    </div>
                </div>
                <div class="right-container pep-spacing-element-negative pull-right flip">
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="content">
                <div class="list-container" #listContainer>
                    <pep-list
                        [firstFieldAsLink]="false"
                        [isReport]="true"
                        [supportSorting]="false"
                        [supportResizing]="false"
                        [selectionTypeForActions]="'single'"
                        [noDataFoundMsg]="'No data'"
                        [parentScroll]="listContainer"
                        [viewType]="'table'"
                        (listChange)="onListChange($event)"
                        (fieldClick)="onCustomizeFieldClick($event)"
                        (selectedItemsChange)="selectedRowsChanged($event)">
                    </pep-list>
                </div>
    
            </div>
        </div>
    </div> -->

<pep-page-layout [addPadding]="false">
    <ng-container pep-top-area>
        <pep-top-bar [title]="'Health_Monitor_Settings_Title' | translate">
        </pep-top-bar>
    </ng-container>

    <div pep-main-area class="main-area">
        <div>
            <div class="body-sm title">
                {{ 'Health_Monitor_Settings_Description' | translate }}
            </div>
            <pep-top-bar [title]="'Health_Monitor_Settings_Alerts' | translate" [inline]="true">
                <pep-list-actions [actions]="menuActions" [sizeType]="'sm'" (actionClick)="onMenuItemClicked($event)"></pep-list-actions>
            </pep-top-bar>
        </div>
        <div class="list-container" #listContainer>
            <pep-list
                [firstFieldAsLink]="false"
                [isReport]="true"
                [supportSorting]="false"
                [supportResizing]="false"
                [selectionTypeForActions]="'single'"
                [noDataFoundMsg]="'No data'"
                [viewType]="'table'"
                (listChange)="onListChange($event)"
                (fieldClick)="onCustomizeFieldClick($event)"
                (selectedItemsChange)="selectedRowsChanged($event)">
            </pep-list>
        </div>
    </div>
</pep-page-layout>