<pep-page-layout [addPadding]="true">
    <ng-container pep-main-area>
        <div class="rows">
            <div class="content row" [ngStyle]="{ visibility: dashboardData ? 'visible':'hidden'}">
                <div class="info-chart chart-background">
                    <p class="desc color-dimmed">Last Sync - {{ dashboardData?.LastSync?.StatusName}}</p>
                    <p class="value bold">{{dashboardData?.LastSync?.Time}} </p>
                </div>
                <div class="info-chart chart-background">
                    <p class="desc color-dimmed">Pending Actions</p>
                    <p class="value bold">{{dashboardData?.PendingActions?.Count}}</p>
                </div>
                    <div class="info-chart chart-background" [ngStyle]="{ visibility: this.syncData?.UptimeSync ? 'visible':'hidden'}">
                        <p class="desc color-dimmed">Up time - {{ this.syncData?.UptimeSync?.dates }}</p>
                        <p class="value bold">{{uptimeValues?.[0]}} </p>
                    </div>
                    <div class="info-chart chart-background" [ngStyle]="{ visibility: this.syncData?.UptimeSync ? 'visible':'hidden'}">
                        <p class="desc color-dimmed">{{ 'Up_Time_Chart_This_Month' | translate}}</p>
                        <p class="value bold">{{uptimeValues?.[1]}}</p>
                    </div>
            </div>
            <ng-container>
                <p class="body-md color-dimmed" *ngIf="syncEmpty === true && isLoaded === true">{{ 'Error_Loading_Data' | translate}}</p>
                <div class="content row" [ngStyle]="{ visibility: this.syncData?.HourlySyncs ? 'visible':'hidden'}">
                    <div class="chart chart-background">
                        <p class="pep-border-bottom">{{ 'Hourly_Chart' | translate}}</p>
                        <canvas #hourlySync id="hourlySync"></canvas>
                    </div>
                </div>
                <div class="content row" [style.visibility]="syncEmpty? 'hidden': 'visible'">
                    <div class="chart chart-background">
                        <p class="pep-border-bottom">{{ 'Daily_Chart' | translate}}</p>
                        <canvas #dailySync id="dailySync"></canvas>
                    </div>
                    <div class="chart chart-background" >
                        <p class="pep-border-bottom">{{ 'Weekly_Chart' | translate}}</p>
                        <canvas #weeklySync id="weeklySync"></canvas>
                    </div>
                    <div class="chart chart-background">
                        <p class="pep-border-bottom">{{ 'Monthly_Chart' | translate}}</p>
                        <canvas #monthlySync id="monthlySync"></canvas>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>

</pep-page-layout>

<pep-size-detector></pep-size-detector>