<!-- <main> -->
<div class="plugin-page-container">
  <div class="header-content">
    <div class="content pep-border-bottom">
      <div class="left-container pep-spacing-element-negative pull-left flip">
        <div class="pep-spacing-element title">
          {{ 'Edit_Alert_Title' | translate }}
        </div>
      </div>
      <div class="right-container pep-spacing-element-negative pull-right flip">
        <div class="menu pep-spacing-element pull-right flip">
          <button mat-button class="pep-button weak md pep-spacing-element" (click)="onBack()">
            {{ 'Edit_Alert_Back' | translate }}
          </button>
          <button mat-button class="pep-button strong md pep-spacing-element" (click)="onSave()">
            {{ 'Edit_Alert_Save' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content ">
    <div class="content" style="width: 50%;" [ngStyle]="{ visibility: typeData ? 'visible':'hidden'}">
      <!--<pep-textbox [key]="'Email'" [label]="'Send email to'" [placeholder]="'place holder'" [xAlignment]="'left'"
                    [value]="typeData.Email" (valueChanged)="onEmailChanged($event)">
                </pep-textbox> -->
      <pep-textbox [key]="'Webhook'" [label]="'Call webhook'" [placeholder]="'place holder'" [xAlignment]="'left'"
        [value]="typeData?.Webhook" [formattedValue]="typeData?.Webhook" (valueChange)="onWebhookChange($event)">
      </pep-textbox>
      <pep-select [emptyOption]="false" *ngIf="isSupport" [key]="'Interval'" [label]="'Check interval'"
        [value]="typeData?.Interval" [xAlignment]="'left'" [options]='[
                    { "key": 300000, "value": "5 minutes" },
                    { "key": 600000, "value": "10 minutes" },
                    { "key": 900000, "value": "15 minutes" },
                    { "key": 1200000, "value": "20 minutes" },
                    { "key": 1800000, "value": "30 minutes" },
                    { "key": 3600000, "value": "1 hour" },
                    { "key": 7200000, "value": "2 hours" },
                    { "key": 10800000, "value": "3 hours" },
                    { "key": 14400000, "value": "4 hours" },
                    { "key": 21600000, "value": "6 hours" },
                    { "key": 43200000, "value": "12 hours" },
                    { "key": 86400000, "value": "24 hours" }
                    ]' (valueChange)="onIntervalChanged($event)">
      </pep-select>
    </div>
  </div>
</div>
